/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap.scss";

body{
    background-color: #ffffff;
    font-family: 'IBM Plex Sans', sans-serif !important;
        
    h2{
        font-size: 24px;
        font-weight: 700;
        }
}


.btn{
    background-color: #E88845 !important;
}
.btn-link {
    background-color: transparent;
    border: none;
}

.form-border{
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
}