<div class="container form-border punk">
    <lottie-animation-view [options]="lottieConfig" [width]="300" [height]="600" (animCreated)="handleAnimation($event)">
    </lottie-animation-view>
    <div id="player">
        <p>Speed: x{{animationSpeed}}</p>
        <div class="range-container">
            <input #range type="range" value="1" min="0" max="3" step="0.5" (change)="setSpeed(range.value)">
        </div>
        <button (click)="stop()">stop</button>
        <button (click)="pause()">pause</button>
        <button (click)="play()">play</button>
    </div>
    <h2>Your Score Is:</h2>
    <p>Probably a blurb about what the scores mean?</p>
    <div>
        <span (click)="toggleSuccess()" class="go-back"> Go Back</span>
    </div>
    
</div>