<p>calculator-form works!</p>
<form action="">
    <h2>ReFocus Data Strength Calculator</h2>
    <h3>What type of data do you gather? (Check all that apply)</h3>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" name="checkbox-binary" id="checkbox-binary">
        <label class="form-check-label" for="checkbox-binary">Data that is yes/no, 1/0, or other binary values</label>
    </div>
    <div class="form-check">    
        <input class="form-check-input" type="checkbox" value="" name="checkbox-numerical" id="checkbox-numerical">
        <label class="form-check-label" for="checkbox-numerical">Data on pricing, sizing, or other numerical values </label>
    </div>
    <div class="form-check">    
        <input class="form-check-input" type="checkbox" value="" name="checkbox-dates" id="checkbox-dates">
        <label class="form-check-label" for="checkbox-dates">Data for birth dates, start & end dates, or other calendar date values</label>
    </div>
</form>