<div class="form-border punk">
    <form action="" #userForm="ngForm">
        <h2 class="form-header">ReFocus Data Strength Calculator</h2>      
                <label for="calculator-form" class="calculator-header">What type of data do you gather? (Check all that apply)</label>
                <div class="container form-check-container pl-1">
                    <div class="form-check">  
                        <!-- <input #saveUserNameCheckBox
                        id="saveUserNameCheckBox" 
                        type="checkbox" 
                        [checked]="saveUsername" 
                        (change)="onSaveUsernameChanged(saveUserNameCheckBox.checked)" /> -->
                            <input class="form-check-input" type="checkbox" value="" name="checkbox-binary" id="checkbox-binary">
                            <label class="form-check-label" for="checkbox-binary">Data that is yes/no, 1/0, or other binary values</label>
                        </div>
                        <div class="form-check">   
                            <!-- <input #saveUserNameTwoCheckBox
                            id="saveUserNameTwoCheckBox" 
                            type="checkbox" 
                            [checked]="saveUsernameTwo" 
                            (change)="onSaveUsernameTwoChanged(saveUserNameTwoCheckBox.checked)" /> -->
                            <input class="form-check-input" type="checkbox" value="" name="checkbox-numerical" id="checkbox-numerical">
                            <label class="form-check-label" for="checkbox-numerical">Data on pricing, sizing, or other numerical values </label>
                        </div>
                        <div class="form-check">  
                            <!-- <input #saveUserNameThreeCheckBox
                            id="saveUserNameThreeCheckBox" 
                            type="checkbox" 
                            [checked]="saveUsernameThree" 
                            (change)="onSaveUsernameThreeChanged(saveUserNameThreeCheckBox.checked)" /> -->
                            <input class="form-check-input" type="checkbox" value="" name="checkbox-dates" id="checkbox-dates">
                            <label class="form-check-label" for="checkbox-dates">Data for birth dates, start & end dates, or other calendar date values</label>
                        </div>     
                    </div>  
                    

                        <div class="row">
                            <div class="form-group col-md-6">
                                <div class="row">
                                    <div class="col-12">
                                        <div>
                                            <label for="data-points" class="form-label calculator-header">Number of Data Points</label>
                                            <input type="number"  class="form-control " id="data-points" name="dataPoints" ngModel>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="form-group  col-md-6">
                                <label for="data-attributes" class="form-label calculator-header">Number of Attributes</label>
                                <input type="number" class="form-control" id="data-attributes" name="attributes" ngModel>
                            </div>
                        </div>
                   

                    <div class="slidecontainer">
                    <label for="myRange" class="form-label calculator-header">How complete is your data?</label>
                    <input type="range" min="0" max="100" value="0" id="myRange" class="form-range slider" name="slider" ngModel oninput="this.nextElementSibling.value = this.value" >
                    <output>50</output> <span>%</span>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12">
                                <div>
                                    <label for="data-update-frequency" class="calculator-header">Data Update Frequency</label>
                                    <select id="data-update-frequency" class="form-select form-control" aria-label="Default select example" [(ngModel)]="updateFreq" [ngModelOptions]="{standalone: true}" (change)="dropdownChangeOne($event)">
                                        <option disabled selected value="undefined">Choose frequency</option>
                                        <option *ngFor="let o of freqArray" [value]="o" >{{ o }}</option>
                                      </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input *ngIf="showFrequencyInput" type="text" name="frequency" class="hiddenInput form-control" id="frequency"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12">
                                <div>
                                    <label for="data-location" class="calculator-header">Location of Data</label>
                                    <select id="data-location"  class="form-select form-control" aria-label="Default select example" [(ngModel)]="dataLocation" [ngModelOptions]="{standalone: true}" (change)="dropdownChangeTwo($event)" >
                                        <option disabled selected value="undefined">Choose Location</option>
                                        <option *ngFor="let o of locationArray" [value]="o" >{{ o }}</option>
                                      </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input *ngIf="showLocationInput" type="text" name="location" class="hiddenInput form-control" id="location"/>
                            </div>
                        </div>
                    </div>
                    <button  type="submit" (click)="toggle()" class="btn btn-next container" id="check">Next</button>
                            <!-- should be type button maybe? -->
                </div>
    </form>
</div>
