<header class="banner navbar  navbar-static-top" role="banner" data-transparent-header="true">
    <div class="container">
        <div class="navbar-header">
            <div id="logo">
                <a href="https://refocusai.com/"></a>
            </div>
        </div>
        <nav class="navbar" role="navigation">
            <ul id="calculator-nav-menu" class=" nav navbar-nav">
                <li class="menu-item menu-item-type-post_type"></li>
                <a href="https://refocusai.com/"> Home</a>
                <li class="menu-item menu-item-type-post_type"></li>
                <a href="https://refocusai.com/contact/">Contact</a>
            </ul>
        </nav>

    </div>
</header>
