<app-header></app-header>
<div class="container">
    <h1>Some Catchy Title About Customer Data</h1>
        <h5>Some other catchy subtitle text will go here to describe more about data.</h5>
            <h3>Title About Data Talking Point</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis earum sequi mollitia architecto aperiam ducimus non quae quos optio, qui id esse aspernatur quis aliquid quod nihil quia at soluta?</p>
            <h3>Another Talking Point About Data</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quaerat dicta maxime debitis deserunt omnis. Dolor fugiat harum vel, unde enim incidunt eligendi, cumque doloribus explicabo minus, corrupti reprehenderit? Nam!</p>
            <h3>Yet Another Talking Point About Data</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores ex commodi quae ipsam perspiciatis? Provident reprehenderit recusandae quae debitis, animi, minima rem velit pariatur mollitia aperiam omnis ut esse laudantium.</p>
</div>
<router-outlet></router-outlet>
