<app-header></app-header>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-12"><app-calculator-form *ngIf="showCalculatorForm "></app-calculator-form>
                <app-contact-form> </app-contact-form></div>
            <div class="col-lg-6 order-lg-1">
                <div>
                    <h1>Some Catchy Title About Customer Data</h1>
                        <h3>Some other catchy subtitle text will go here to describe more about data.</h3>
                </div>
                <div>
                    <h2>Title About Data Talking Point</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis earum sequi mollitia architecto aperiam ducimus non quae quos optio, qui id esse aspernatur quis aliquid quod nihil quia at soluta?</p>
                </div>
                <div>
                    <h2>Another Talking Point About Data</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quaerat dicta maxime debitis deserunt omnis. Dolor fugiat harum vel, unde enim incidunt eligendi, cumque doloribus explicabo minus, corrupti reprehenderit? Nam!</p>
                </div>
                <div>      
                    <h2>Yet Another Talking Point About Data</h2>
                        <p>Lorem ipsum, dolor sit amet 
                </div>
            </div>
        </div>
      </div>