<div class="container form-border">
    <form action="">
        <h2>ReFocus Data Strength Calculator</h2>
        <div class="mb-3">
            <label for="full-name" class="form-label calculator-header">Full Name</label>
            <input type="text" class="form-control" id="full-name">
        </div>
        <div class="mb-3">
            <label for="Company" class="form-label calculator-header">Company</label>
            <input type="text" class="form-control" id="Company">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label calculator-header">Email</label>
            <input type="email" class="form-control" id="email" placeholder="lauren@refocusai.com">
        </div>
        <div class="mb-3 form-group">
            <label for="user-questions" class="form-label calculator-header">What else would you like to know about your data?</label>
            <textarea class="form-control" id="user-questions" rows="3"></textarea>
        </div>
        <div>
            <button type="button" class="btn container">Submit</button>
        </div>
        <div>
            <a href="https://refocusai.com/contact/" class="go-back">Go Back</a>
        </div>
    </form>
</div>